.colors{
    div{
        text-align: center;
        img{
            width: 100%;
            max-width: 350px;
        }
        .colorSelection{
            text-align: center;
            text-decoration: none;
            color: $text-color-dark;
            border: 1px solid $card-background;
            border-radius: 4px;
            background: white;
            padding: 25px 50px;
        }
        .colorSelection.active{
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    .homepod{
        transition: all .3s linear;
        margin-bottom: 50px;
    }
    .homepod.right.back{
        transform: translateX(-25%);
        opacity: .5;
        z-index: -10;
    }
    .homepod.left.back{
        transform: translateX(25%);
        opacity: .5;
        z-index: -10;
    }
    .homepod.right.active{
        transform: translateX(-50%);
        opacity: 1;
        z-index: 10;
        position: relative;
    }
    .homepod.left.active{
        transform: translateX(50%);
        opacity: 1;
        z-index: 10;
        position: relative;
    }
}

.addCarePlan{
    color: $text-color-dark;
    border: 1px solid $card-background;
    border-radius: 4px;
    background: white;
    padding: 25px 50px;
    margin: 0 auto;
    max-width: 300px;
    cursor: pointer;
    transition: all .3s linear;

    p{
        text-align: left;
        span.subtitle{
            display:block;
            font-weight: bold;
        }
    }
}
.addCarePlan.active{
    border-color: $color-primary;
    color: $color-primary;
}