section {
  margin-top: 100px;
}
.flexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box50 {
  width: 50%;
}
.box100 {
  width: 100%;
}
