.device{
    position: relative;
    width: 100%;
    img{
        height: 80%;
    }
    .onSiri{
        position: absolute;
        left:0;
        height: 80%;
        opacity: 0;
        transition: all .4s linear;
    }
}