.row .col.device{
    position: relative;
    padding: 0;
    img{
        width: 100%
    }
    .onSiri{
        position: absolute;
        left:0;
        width: 100%; // Both pictures don't have same width/height
        opacity: 0;
        transition: all .4s linear;
    }
}

.questions{
    h3.siriGradient{
        background: -webkit-linear-gradient(45deg, #F0357C, #F154FF, #777DFF);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}

.popupContainer{
    position: fixed;
    top:0;
    padding-top: 85px;
    bottom:0;
    left:0;
    right:0;
    background: $background-color;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    overflow: hidden;
    &__list {
  		font-size: 1.353rem;
  		line-height: 1.824rem;
  		letter-spacing: .23px;
      margin: 0 0 25px 0;
      li {
        margin: 10px 0;
      }
  	}
}
