.row .col.device{
    position: relative;
    padding: 0;
    img{
        width: 100%
    }
    .onSiri{
        position: absolute;
        left:0;
        width: 100%; // Both pictures don't have same width/height
        opacity: 0;
        transition: all .4s linear;
    }
}

.questions{
    h3.siriGradient{
        background: -webkit-linear-gradient(45deg, #F0357C, #F154FF, #777DFF);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}
