footer {
  background: $background-grey;
  padding-bottom: 25px;
  text-align: center;
  .footerList.col.opened li:not(:first-child) {
    opacity: 1;
    display: block;
  }
  .footerList.col {
    list-style-type: none;
    padding: 25px 0 0 0;
    margin: 0;
    li:not(:first-child) {
      opacity: 0;
      display: none;
    }
    li {
      margin-bottom: 10px;
      font-size: 0.647rem;
      line-height: 1.36364;
    }
    li:first-child {
      color: $text-color-dark;
      font-weight: bold;
      cursor: pointer;
    }
    li a {
      text-decoration: none;
      color: $text-footer-color;
    }
    li a:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 601px) {
  footer {
    text-align: left;
    .footerList.col {
      margin: 25px 0;
      li:not(:first-child) {
        opacity: 1;
        display: block;
      }
      li:first-child {
        cursor: default;
      }
    }
  }
}
