// h2 => fS 80px / 84px line-height / -1.2px letter-spacing
// primaryParagraph => 23px / 31px lineHeight / 0.23px letter-spacing
// h3 => 32px / 36px / 0.128px
// secondaryParagraph => 17px / 25px / -.374px


// letterSpacing -.374px
// lineHeight 25px

body {
    margin: 0;
    background-color: $background-color;
    color: $text-color-dark;
    font-family: $font-primary;
    font-size: 17px;
  }
  
  .container{
    margin: 0 200px 100px 200px;
  }
  
  .button-primary{
    background: $color-primary;
    color: $text-color-clear;
    padding: 12.5px 25px; 
    border-radius: 4px;
  }