html, body {
	// background-color: $background-color;
	color: $text-color-dark;
	font-family: $font-primary;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-size: 14px;
}

section {
	margin-top: 50px;
}

span.line {
	display: block;
}

.button-primary {
	background: $color-primary;
	color: $text-color-clear;
	padding: 12.5px 25px;
	border-radius: 4px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.1s;
	&:hover {
		background: $color-primary-light;
	}
}

h1, h2, h3, h4, p {
	text-align: center;
}

h2{
	font-size: 2.286rem;
	line-height: 2.571rem;
	letter-spacing: -.009rem;
	margin: 0 0 25px 0;
}
h3 {
	font-size: 2.286rem;
	line-height: 2.571rem;
	letter-spacing: 0.128px;
	margin: 0 0 25px 0;
}
h2.light, h3.light, h4.light {
	color: #fff;
}

p {
	margin: 0 0 25px 0;
}
p.light {
	color: #fff;
}
p.primary {
	font-size: 1.353rem;
	line-height: 1.824rem;
	letter-spacing: .23px;
}
p.secondary {
	font-size: 1rem;
	line-height: 1.471rem;
	letter-spacing: -.374px;
}

a.cta-secondary{
	font-size: 1.353rem;
	color: $color-primary;
	text-align:center;
	display:block;
	text-decoration: none;
}

.medium_image {
	width: 70%;
}

.valign-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.h100{
	height: 100%;
}

@media only screen and (min-width: 993px) {
	.valign-wrapper {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.h100{
		height: calc(100vh - 100px);
	}
	section {
		margin-top: 100px;
	}
}
@media only screen and (min-width: 601px) {
	html, body {
		font-size: 17px;
	}
	h2 {
		font-size: 4.571rem;
		line-height: 1.0625;
	}
}
