header{
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid $text-color-dark;
  display: flex;
  justify-content: space-between;

  .logo{
    display: flex;
    color: black;
    text-decoration: none;
    h1{
      font-size: 1.42rem;
      line-height: 40px;
      margin-left: 25px;
      font-weight: normal;
    }
    img{
      height: 40px;
      margin: 10px 0;
      
    }
  }

  ul {
    display: flex;
    li {
      list-style: none;
      padding: 0 25px;
      a{
        color: $text-color-dark;
        text-decoration: none
      }
      a.active{
        color: $text-color-secondary-dark;
      }
      :hover a {
        color: $color-primary;
      }
    }
  }
}