header {
  z-index: 100;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: rgba(255, 255, 255, 0.9);
  nav {
    height: 60px;
    padding: 12.5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    h1{
      font-size: 1.42rem;
      line-height: 40px;
      margin-left: 25px;
      font-weight: normal;
    }
    img{
      height: 40px;
    }
  }

  #rightMenu{
    align-self: flex-end;
    #mobileMenu{
      position: relative;
      z-index: 10;
    }
  }
  ul {
    opacity: 0;
    display: flex;
    transition: all .3s;
    align-items: center;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left:0; right: 0; top:0; bottom: 0; background: rgba(255, 255, 255, .8);
    li {
      list-style: none;
      padding: 25px 0;
      text-align: center;
      a{
        color: $text-color-dark;
        text-decoration: none;
        font-size:1.2rem;
      }
      a.active{
        color: $text-color-secondary-dark;
        cursor: default;
      }
      a:hover:not(.active):not(.cta) {
        color: $color-primary;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  .hide_for_desktop{
    display: none !important;
  }
  #rightMenu ul {
    opacity: 1;
    position: static;
    flex-direction: row;
    li {
      list-style: none;
      padding: 0 25px;
      text-align: center;
      a{
        color: $text-color-dark;
        text-decoration: none;
        font-size:.8rem;
      }
      a.cta{
        color: $text-color-clear;
      }
      a.active{
        color: $text-color-secondary-dark;
        cursor: default;
      }
      a:hover:not(.active):not(.cta) {
        color: $color-primary;
      }
    }
  }
}




.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent
}
.hamburger.is-active:hover,
.hamburger:hover {
  opacity: .7
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #000
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}
.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000
}
.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: ""
}
.hamburger-inner:before {
    top: -10px
}
.hamburger-inner:after {
    bottom: -10px
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
  transition-duration: 75ms
}

.hamburger--squeeze .hamburger-inner:before {
  transition: top 75ms ease .12s, opacity 75ms ease
}

.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19)
}

.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(45deg)
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75ms ease, opacity 75ms ease .12s;
  opacity: 0
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
  transform: rotate(-90deg)
}