.highlightCol {
  margin: 75px auto 25px auto;
}
.homepodContainer {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  img.homepodContainer__homepodFocused {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  #arrow-left {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  #arrow-right {
    right: 0;
  }
  .arrow {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    img {
      width: 44px;
      height: 44px;
    }
  }
  &__container {
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    transition: left .25s linear;
    &__infoCard {
      width: calc(40.08vw - 88px - 1.5rem);
      margin: 0 44px;
      box-sizing: border-box;
      border-radius: 20px;
      opacity: 0;
      overflow-y: auto;
      transition: opacity 0.3s linear;
    }
    &__infoCard.card-focused {
      opacity: 1;
    }
  }
}

// Music animation
.music_container {
	text-align: center;
  position: relative;
}
.albumCovers {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  left: -35vw;
  bottom: 0px;
  z-index: -1;
  img {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin: 10px;
    transform: translateX(25px);
    border-radius: 5px;
  }
  img:nth-child(3n) {
    transition: all 0.3s;
  }
  img:nth-child(3n+1) {
    transition: all 0.3s linear 0.15s;
  }
  img:nth-child(3n+2) {
    transition: all 0.3s linear 0.30s;
  }
}

// Vidéo
video {
  width: 100%;
}
.video_container {
  position: relative;
  &__control {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 8;
    background: url('../images/icons/play.svg') center 100% no-repeat;
  }
  &__control.playing {
    background: url('../images/icons/pause.svg') center 100% no-repeat;
  }
}

// At Home
#at-home {
  width: 100%;
  height: 51vw;
  background: url('../images/at_home/homepod_at_home.jpg');
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0;
  margin-top: 50px;
}
#at-home.animationEnded {
  background-attachment: local;
}

// End CTA
.cta-block {
	background-color: #000;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.highlightText {
  background-image: linear-gradient(to left, #777dff 0%, #f154ff 30%, #f0357c 100%),linear-gradient(to right, #777dff 0%, #497ce2 30%, #37bdde 100%);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMovement 4s ease infinite;
}

@keyframes gradientMovement {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}

// Animation d'entrée
.entryAnim {
  opacity: 0;
  transition: opacity 0.2s;
}
.entryAnim.opened {
  opacity: 1;
}
.entryAnim.opened .albumCovers img {
  opacity: 1;
  transform: translate(0px);
}

// Media queries
@media only screen and (min-width: 993px) {
  .homepodContainer img {
    right: 50px;
  }
  .music_container {
    text-align: right;
  }
  .albumCovers {
    top: -50px;
    left: 100px;
    bottom: -50px;
  }
  .slider {
    background-color: transparent;
  }
  .slider__container__infoCard {
    padding: 68px 45px;
  }
  .highlightCol {
    margin: 75px auto;
  }
  #at-home {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 993px) {
  .row .col.s6.music_container {
    margin: 0 25%;
  }
}
