.homepod-container {
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    top: 50px;
    right: 0;
    width: 40vw;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  img.homepod-focused {
    opacity: 1;
  }
}
.slider {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
  #arrow-left {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  #arrow-right {
    right: 0;
  }
  .arrow {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    img {
      width: 44px;
      height: 44px;
    }
  }
  &__container {
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
    display: flex;
    transition: left .25s linear;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    &__infoCard {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      background: white;
      width: calc(40.08vw - 88px - 1.5rem);
      margin: 0 44px;
      height: 100%;
      box-sizing: border-box;
      padding: 68px 45px;
      border-radius: 20px;
      opacity: 0;
      overflow-y: auto;
      transition: opacity 0.3s linear;
    }
    &__infoCard.card-focused {
      opacity: 1;
    }
  }
}

video {
  width: 100%;
}
