$font-primary: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-primary: rgb(0, 112, 201);
$card-background: rgba(0,0,0,0.8);
$background-color: #fff;
$text-color-clear: #fff;
$text-color-dark: #111;
$text-color-secondary-dark: rgba(51,51,51,0.6);
